
<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width-device-width'>
    <title>Ball Is Life</title>
    </head>
  <body>
    <header>
      <h1>Ball is Life</h1>

      <nav>
        <ul class='navbar'>
          {{#if currentUser}}
          <li href='/user/profile'>Go to Team</a></li>
          <li href='/basketball/new'>Add a Player to Team</a></li>
          <li href='/user/logout'>Log Out</a></li>
          {{else}}
          <li href='#'>Log In</a></li>
          <li href='#'>Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>
  </body>
</html>
