* {
margin: 0;
box-sizing: border-box;
text-align: center;
}

body {
  background-color: #ffcd55;
}

header{
  background-image: url('https://previews.123rf.com/images/leungchopan/leungchopan1202/leungchopan120200073/12191877-basketball-texture.jpg');
}


li {
  list-style-type: none;
}


main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myteam {
  display: flex;
  flex-direction: column;
  align-items: center;
    min-height: 60vh;
  width: 100%;
}
.players {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
min-height: 60vh;
width: 100%;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin: 2%;

}
.headshot {
  z-index: 1;
  box-shadow: 12px -11px 11px black;
  margin: 3% 0% 2% 0%;
}
