<section class="Team">
  <h2>{{user.local.username}}</h2>
  {{#if user.show}}
    <div class="basketballs">
      {{#each user.show}}
         {{> 'basketball'}}
      {{/each}}
    </div>
  {{else}}
      <h2>{{user.local.username}}</h2>
    <p>No Favorite Players Yet</p>
  {{/if}}
</section>
