<section class="profile">
  <h2>{{user.local.email}}</h2>
  {{#if user.basketballs}}
    <div class="basketballs">
      {{#each user.basketballs}}
         {{> 'basketball'}}
      {{/each}}
    </div>
  {{else}}
    <p>No Favorite Players Yet</p>
  {{/if}}
</section>
