<section class="profile">
  <h2>{{user.local.username}}</h2>
  {{#if user.basketball}}
    <div class="basketballs">
      {{#each user.basketball}}
         {{> 'basketball'}}
      {{/each}}
    </div>
  {{else}}
    <p>No Favorite Players Yet</p>
  {{/if}}
</section>
