
<div class='myteam'>
  <h2 class='teamheader'>Your Team</h2>
    {{#if user.team}}
      <div class='team'>
        {{#each user.team}}
          {{> 'Basketball'}}
        {{/each}}
      </div>
    {{else}}
      <p class='noplayers'>No one on your team yet. Get to recruiting!</p>
    {{/if}}
      <p class='pagelink'><a class ='pagelink' href='/basketball/new'>Add a Player</a></p>
</div>
