<section class="form-container">
  <h4>New Player</h4>
  <form action="/basketball" method="post" class="basketball-form">
    <p class="input-field">
      <textarea name="basketball" cols="30" rows="1"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Add" class="btn waves-effect waves-light">
    </p>
  </form>
</section>
