<!DOCTYPE html>
<html>
<head>
  <title>Basketball Player Search</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main>



    <div class="browse">
      <form id="search">
        <input type="search" placeholder="Search for a Player" id="player-search">
        <input id = "submit" type="submit" value="Submit">
      </form>

      <select id="player-select">
        <option value="">Select A Player</option>
      </select>

      <div id="Player-detail"></div>

    </div>
  </main>
  <button id="player-add">
    <option value="">Add Player to Favorites</option>
  </select>

  <script src=""></script>
</body>
</html>
