
<div class='searchresult'>
  <img class="someClass" src={{info.image}}>
  <form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
    <p class='input-field'>
    <input type="hidden" name="playerID" value="{{player._id}}">
    <input class='addto' type='submit' value='Add To Team'>
    </p>
  </form>
</div>
